$color-background: #0e1014;

$color-light-text: #e4e5ea;
$color-solid-text: #656566;

$color-offer-text-gradient: linear-gradient(
  140deg,
  rgba(252, 176, 69, 1) 10%,
  rgba(255, 63, 120, 1) 80%
);
$color-offer-detail-text-gradient: linear-gradient(
  130deg,
  rgba(252, 176, 69, 1) 0%,
  rgba(253, 29, 29, 1) 100%
);

$color-button-primary: #4077f3;
